
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
pythonProject/Hist/__pycache__/Client_app.cpython-311.pyc
pythonProject/Hist/__pycache__/server_app.cpython-311.pyc
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
pythonProject/ML1/__pycache__/flowerClient.cpython-311.pyc
*.pyc
*.pyc
pythonProject/FedAvg5/database.db
*.db


# Virtual environments
.venv/
venv/

# IDE from JetBrains files
.idea/
*.duckdb
*.csv
poetry.lock
library/under_development/fd_models/data/MNIST/raw/train-labels-idx1-ubyte.gz
library/under_development/fd_models/data/MNIST/raw/train-labels-idx1-ubyte
library/under_development/fd_models/data/MNIST/raw/train-images-idx3-ubyte.gz
library/under_development/fd_models/data/MNIST/raw/train-images-idx3-ubyte
library/under_development/fd_models/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
library/under_development/fd_models/data/MNIST/raw/t10k-labels-idx1-ubyte
library/under_development/fd_models/data/MNIST/raw/t10k-images-idx3-ubyte.gz
library/under_development/fd_models/data/MNIST/raw/t10k-images-idx3-ubyte
install_python.sh
poetry.lock
mini_mip_system/install.sh
*.csv
*.csv
*.duckdb
data/grizzly_tests/BlobDataset/250x2_client0.duckdb.wal
*.wal
.idea/workspace.xml
data/feres_analysis/CDEsMetadata.json
